## Observations and Insights

In [139]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_mouse_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
combined_mouse_data.head()

## Observations and Insights 
#The two files merged together nicely and with out column repeats. Can make Mouse ID the idnex to 
#better view and sort data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [140]:
# Checking the number of mice.
combined_mouse_data["Mouse ID"].count()

1893

In [141]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

duplicated_data_info = combined_mouse_data[combined_mouse_data.duplicated(subset=['Mouse ID', 'Timepoint'])]
duplicated_data_info

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [142]:
# Optional: Get all the data for the duplicate mouse ID. 
combined_mouse_data_altered_index = combined_mouse_data.copy()
combined_mouse_data_altered_index = combined_mouse_data_altered_index.set_index("Mouse ID")
all_duplicate_data = combined_mouse_data_altered_index.loc[['g989']]
all_duplicate_data

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,5,48.786801,0
g989,Propriva,Female,21,26,5,47.570392,0
g989,Propriva,Female,21,26,10,51.745156,0
g989,Propriva,Female,21,26,10,49.880528,0
g989,Propriva,Female,21,26,15,51.325852,1
g989,Propriva,Female,21,26,15,53.442020,0
g989,Propriva,Female,21,26,20,55.326122,1
g989,Propriva,Female,21,26,20,54.657650,1
g989,Propriva,Female,21,26,25,56.045564,1
g989,Propriva,Female,21,26,30,59.082294,1
g989,Propriva,Female,21,26,35,62.570880,2

In [143]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
cleaned_mouse_data = combined_mouse_data.drop_duplicates(subset=['Mouse ID', 'Timepoint'])
cleaned_mouse_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [144]:
# Checking the number of mice in the clean DataFrame.
cleaned_mouse_data["Mouse ID"].count()

1888

## Summary Statistics

In [166]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

summary_df = cleaned_mouse_data.groupby("Drug Regimen")
summary_df = summary_df["Tumor Volume (mm3)"]

summary_mean = summary_df.mean().round(3)
summary_median = summary_df.median().round(3)
summary_variance = summary_stats.var().round(3)
summary_std = summary_df.std().round(3)
summary_sem = summary_df.sem().round(3)

summary_stats_df = pd.DataFrame({"Average": summary_mean,
                                "Median": summary_median,
                                 "Variance": summary_variance,
                                "Standard Deviation": summary_std,
                                "SEM": summary_sem}) 
summary_stats_df

                Mean  Median  Variance  Standard Deviation    SEM
Drug Regimen
Capomulin     40.676  41.558    24.948               4.995  0.329
Ceftamin      52.591  51.776    39.290               6.268  0.470
Infubinol     52.885  51.821    43.129               6.567  0.492
Ketapril      55.236  53.699    68.554               8.280  0.604
Naftisol      54.332  52.509    66.173               8.135  0.596
Placebo       54.034  52.289    61.168               7.821  0.581
Propriva      52.393  50.910    43.139               6.568  0.526
Ramicane      40.217  40.673    23.487               4.846  0.321
Stelasyn      54.233  52.432    59.451               7.710  0.573
Zoniferol     53.237  51.818    48.533               6.967  0.516

In [177]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
summary_stats2_df = (cleaned_mouse_data.groupby(['Drug Regimen'])["Tumor Volume (mm3)"]
                 .agg([('Average','mean'),('Median','median'),('Variance', 'var'), 
                       ('Standard Deviation', 'std'), ('SEM', 'sem')])).round(3)
summary_stats2_df

              Average  Median  Variance  Standard Deviation    SEM
Drug Regimen
Capomulin      40.676  41.558    24.948               4.995  0.329
Ceftamin       52.591  51.776    39.290               6.268  0.470
Infubinol      52.885  51.821    43.129               6.567  0.492
Ketapril       55.236  53.699    68.554               8.280  0.604
Naftisol       54.332  52.509    66.173               8.135  0.596
Placebo        54.034  52.289    61.168               7.821  0.581
Propriva       52.393  50.910    43.139               6.568  0.526
Ramicane       40.217  40.673    23.487               4.846  0.321
Stelasyn       54.233  52.432    59.451               7.710  0.573
Zoniferol      53.237  51.818    48.533               6.967  0.516

## Bar and Pie Charts

In [128]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [129]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [130]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [131]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [132]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [133]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [134]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [135]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [136]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [137]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen